@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    min-height: 1px;
}

header {
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 700px;
    nav {
        color: #fff;
        padding: 20px;
        div {
            display: inline-block;
        }
        #logo {
            font-weight: 900;
            letter-spacing: -1px;
            font-size: 40px;
        }
        #right-nav {
            float: right;
            margin-top: 5px;
            ul {
                margin: 0;
                display: inline-block;
                a {
                    text-decoration: none;
                    color: #fff;
                }
                li {
                    display: inline-block;
                    padding: 10px;
                    text-transform: uppercase;
                }
                a+a {
                    margin-left: 10px;
                }
            }
            #search {
                width: 15px;
                height: 15px;
                background-image: url('../img/search.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
            #fb {
                width: 15px;
                height: 15px;
                background-image: url('../img/fb.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
            
        }
        
    }
    button {
        background-color: #fff;
        color: #000;
        border: 0;
        font-size: 18px;
        border-radius: 25px;
        font-weight: 700;
        cursor: pointer;
        padding: 10px 20px;
        position: absolute;
        top: 70%;
        left: 30%;
    }
}

#who-we-are {
    height: 600px;
    #traingle-down {
        width: 1000px;
        height: 1000px;
        display: inline-block;
        z-index: -2;
        position: absolute;
        top: -60px;
        right: -15.76vw;
        transform: rotate(45deg);
        background: #171717;
    }
    #parts {
        display: flex;
        justify-content: center;
        div {
            display: inline-block;
        }
    }
    #part-left {
        font-family: 'Open Sans', sans-serif;
        h2 {
            font-size: 60px;
            font-weight: 900;
        }
    }
    #part-right {
        img {
            width: 600px;
        }
    }
}

.button-red {
    background-color: #bc2e3a;
    color: #fff;
    border: 0;
    font-size: 18px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 20px;
    position: absolute;
    margin-top: 20px;
}

#what-we-do {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
        #triangle-left {
            width: 120px;
            height: 120px;
            z-index: 4;
            position: absolute;
            margin-top: 120px;
            margin-left: -60px;
            transform: rotate(45deg);
            background: #bc2e3a;
        
         }
        h2 {
            font-size: 60px;
            font-weight: 900;
        }
        #points {
            .points-part {
                display: flex;
                flex-direction: row;
            }
            .icon::before {
                width: 75px;
                height: 75px;
                content: "";
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }
            #icon-one::before {
                background-image: url('../img/icon1.png');
            }
            #icon-two::before {
                background-image: url('../img/icon2.png');
            }
            #icon-three::before {
                background-image: url('../img/icon3.png');
            }
            #icon-four::before {
                background-image: url('../img/icon4.png');
            }
            #icon-five::before {
                background-image: url('../img/icon5.png');
            }
            #icon-six::before {
                background-image: url('../img/icon6.png');
            }
        }
}

#how-we-work {

}

#our-creative-team {
    height: 500px;
    background-color: #f5f5f5;
}