body {
    margin: 0;
    padding: 0;
    color: #000;
}

header {
    min-height: 500px;
    background-image: url('../img/header.png');
    nav {
        #logo {
            height: 50px;
            width: 50px;
            float: left;
        }
        ul {
            margin: 0;
            padding: 0;
            float: right;
            li {
                display: inline-block;
            }
        }
    }
}

